absl-py==0.12.0
addict==2.4.0
alabaster==0.7.12
appdirs==1.4.4
appimage-builder==0.8.7
apt-clone==0.2.1
apturl==0.5.2
argon2-cffi==20.1.0
arrow==1.0.3
astor==0.8.1
async-generator==1.10
attrs==20.3.0
audioread==2.1.9
av==8.0.3
Babel==2.9.0
backcall==0.2.0
bleach==3.3.0
bokeh==2.2.3
Brlapi==0.6.6
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.4
chamfer==0.0.0
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
command-not-found==0.3
contextlib2==0.6.0.post1
cupshelpers==1.0
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
defer==1.0.4
defusedxml==0.6.0
docker==4.4.4
docopt==0.6.2
docutils==0.16
emd==0.3.3
emrichen==0.2.3
entrypoints==0.3
Flask==1.1.2
gast==0.4.0
graphviz==0.16
grpcio==1.37.0
h5py==2.10.0
httplib2==0.9.2
idna==2.10
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==3.4.0
inform==1.23.0
iniconfig==1.1.1
ipykernel==5.4.3
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.0
jsonpatch==1.32
jsonpath-rw==1.4.0
jsonpointer==2.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
librosa==0.8.0
llvmlite==0.35.0
louis==3.5.0
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
mistune==0.8.4
mock==4.0.3
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.2.0
numba==0.52.0
numpy==1.19.5
numpydoc==1.1.0
onboard==1.4.1
onnx==1.8.1
open3d==0.12.0
packaging==20.9
PAM==0.4.2
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.1
pexpect==4.2.1
pickleshare==0.7.5
Pillow==8.1.0
pluggy==0.13.1
ply==3.11
plyfile==0.7.3
pooch==1.3.0
prometheus-client==0.9.0
prompt-toolkit==3.0.14
protobuf==3.15.5
psutil==5.4.2
ptyprocess==0.7.0
py==1.10.0
pyalsaaudio==0.9.0
pyaml==20.4.0
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
pydot==1.4.2
PyGLM==2.1.0
Pygments==2.7.4
pygobject==3.26.1
PyICU==1.9.8
pyinotify==0.9.6
PyOpenGL==3.1.5
pyparsing==2.4.7
pyparted==3.11.1
pyrsistent==0.17.3
pyshine==0.0.7
PySide2==5.15.2
pytest==6.2.2
python-apt==1.6.5+ubuntu0.3
python-dateutil==2.8.1
python-xapp==1.8.1
pytorch-ignite==0.4.3
pytz==2021.1
PyWavelets==1.1.1
pyxdg==0.25
PyYAML==5.4.1
pyzmq==22.0.2
qtconsole==5.0.2
QtPy==1.9.0
quantiphy==2.13.0
questionary==1.9.0
requests==2.25.1
resampy==0.2.2
schema==0.7.4
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.5.4
screen-resolution-extra==0.0.0
Send2Trash==1.5.0
sessioninstaller==0.0.0
setproctitle==1.1.10
shiboken2==5.15.2
six==1.11.0
sklearn==0.0
snowballstemmer==2.1.0
sounddevice==0.4.1
SoundFile==0.10.3.post1
Sphinx==3.5.3
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
system-service==0.3
systemd-python==234
tensorboard==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
termcolor==1.1.0
terminado==0.9.2
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.9.3
tinycss==0.4
toml==0.10.2
torch==1.8.0
torchaudio==0.8.0
torchfile==0.1.0
torchvision==0.8.2
tornado==6.1
tqdm==4.58.0
traitlets==4.3.3
tvm==1.0.0
typing-extensions==3.7.4.3
ufw==0.36
urllib3==1.26.3
visdom==0.1.8.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
xkit==0.0.0
zipp==3.4.0
